name: Build Tests
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Build package
        run: |
          uv build

      - name: Install twine
        run: |
          uv pip install twine

      - name: Check build with twine
        run: |
          twine check dist/*

  wheel:
    # This workflow builds the package and checks the wheel can be installed properly
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Build package
        run: |
          uv build

      # Check the structure of the wheel
      - name: Locate wheel
        id: wheel
        run: |
          WHEEL=$(ls dist/*.whl | head -n1)
          echo "wheel=$WHEEL" >> "$GITHUB_OUTPUT"

      - name: Check py.typed
        run: |
          unzip -l "${{ steps.wheel.outputs.wheel }}" | grep py.typed

      # Install the built wheel and check its behavior
      - name: Install built wheel
        run: |
          uv pip install "${{ steps.wheel.outputs.wheel }}"

      - name: Check package metadata
        run: |
          dev/package/check_metadata.sh

      - name: Check dependency tree
        run: |
          dev/package/check_dependency_tree.sh

      - name: Check package import
        run: |
          python -c "import objectory; print(objectory.__version__)"

      - name: Check that pyright recognizes the package as typed
        run: |
          uv pip install pyright
          dev/package/check_type.sh

  build-sdist:
    # This workflow builds the package and checks the sdist can be installed properly
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Build package
        run: |
          uv build

      # Check the structure of the sdist
      - name: Locate sdist
        id: sdist
        run: |
          SDIST=$(ls dist/*.tar.gz | head -n1)
          echo "sdist=$SDIST" >> "$GITHUB_OUTPUT"

      - name: Check py.typed
        run: |
          tar -tzf "${{ steps.sdist.outputs.sdist }}" | grep py.typed

      # Install the built sdist and check its behavior
      - name: Install built sdist
        run: |
          uv pip install "${{ steps.sdist.outputs.sdist }}"

      - name: Check package metadata
        run: |
          dev/package/check_metadata.sh

      - name: Check dependency tree
        run: |
          dev/package/check_dependency_tree.sh

      - name: Check package import
        run: |
          python -c "import objectory; print(objectory.__version__)"

      - name: Check that pyright recognizes the package as typed
        run: |
          uv pip install pyright
          dev/package/check_type.sh

  extras:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        extra: [ 'all' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Build package
        run: |
          uv build

      - name: Install package
        run: |
          WHEEL=(dist/*.whl)
          echo $WHEEL
          uv pip install "${WHEEL}[${{ matrix.extra }}]"

      - name: Check package metadata
        run: |
          dev/package/check_metadata.sh

      - name: Check dependency tree
        run: |
          dev/package/check_dependency_tree.sh

      - name: Import package
        run: |
          python -c "import objectory; print(objectory.__version__)"
