name: Build Tests
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Build package
        run: |
          uv build

      - name: Check py.typed
        run: |
          unzip -l dist/*.whl | grep py.typed
          unzip -l dist/*.whl | grep py.typed2

      - name: Install package
        run: |
          uv pip install dist/*.whl

      - name: Inspect package
        run: |
          uv pip show objectory

      - name: Show dependency tree
        shell: bash
        run: |
          uv pip tree --package objectory --show-version-specifiers

      - name: Import package
        run: |
          python -c "import objectory; print('OK')"

  extras:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        extra: [ 'all' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Build package
        run: |
          uv build

      - name: Install package
        run: |
          WHEEL=(dist/*.whl)
          echo $WHEEL
          uv pip install "${WHEEL}[${{ matrix.extra }}]"

      - name: Inspect package
        run: |
          uv pip show objectory

      - name: Show dependency tree
        shell: bash
        run: |
          uv pip tree --package objectory --show-version-specifiers

      - name: Import package
        run: |
          python -c "import objectory; print('OK')"
