# Code formatting and linting workflow.
# Checks code formatting with black and code quality with ruff.
# Ensures code follows project style guidelines.

name: Format
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup python environment
        uses: durandtibo/setup-venv-uv-action@v0.0.1

      # Check code formatting with black
      - name: Check format
        run: |
          inv check-format

      # Check code quality with ruff
      - name: Check lint
        run: |
          inv check-lint
