name: Nightly Tests
on:
  schedule:
    - cron: '10 9 * * *' # Run at 9:10 AM UTC daily
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  # Run the same checks as CI on a nightly basis to catch issues early
  build:
    uses: ./.github/workflows/build.yaml
  cyclic-imports:
    uses: ./.github/workflows/cyclic-imports.yaml
  doctest:
    uses: ./.github/workflows/doctest.yaml
    secrets: inherit
  format:
    uses: ./.github/workflows/format.yaml
  types:
    uses: ./.github/workflows/types.yaml
  pre-commit:
    uses: ./.github/workflows/pre-commit.yaml
  test:
    uses: ./.github/workflows/test.yaml
  test-deps:
    uses: ./.github/workflows/test-deps.yaml
