name: Nightly Package Tests
on:
  schedule:
    - cron: '10 10 * * *' # run at 10:10 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  cyclic-imports:
    uses: ./.github/workflows/cyclic-imports.yaml

  stable-all:
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      install-cmd: uv pip install objectory[all]

  stable-min:
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      install-cmd: uv pip install objectory

  latest-all:
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      install-cmd: uv pip install --pre objectory[all]

  latest-min:
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      install-cmd: uv pip install --pre objectory

  tornado:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: tornado
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).tornado) }}
