name: Nightly Package Tests
on:
  schedule:
    - cron: '10 10 * * *' # Run at 10:10 AM UTC daily
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  # Get dependency version information from config file
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  # Test stable version from PyPI without extras
  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install objectory'

  # Test stable version from PyPI with all extras
  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "objectory[all]"'

  # Test pre-release version from PyPI without extras
  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre objectory'

  # Test pre-release version from PyPI with all extras
  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "objectory[all]"'


  ########################
  #     Dependencies     #
  ########################

  # Test with different versions of tornado dependency
  tornado:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: tornado
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).tornado) }}
